body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
}

.calculator-display {
    margin-bottom: 20px;
}

.display {
    background-color: #222;
    color: #fff;
    font-size: 1rem;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.calculator-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="number"] {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn {
    background-color: #1044a5;
    color: #fff;
    border: none;
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color:#4678d4;
   
}

.btn:active {
    transform: scale(0.98);
}
